################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ds-bot/FileContentIndex/c55c31cc-7276-4343-b3e7-af7bdc255dbc.vsidx
