################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ds-bot/FileContentIndex/c55c31cc-7276-4343-b3e7-af7bdc255dbc.vsidx
# Ignore Visual Studio files
.vs/
.vscode/
.idea/

# Ignore build directories
bin/
obj/

# Ignore other common temporary files
*.user
*.suo
*.userosscache
*.sln.docstates
