################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ds-bot/FileContentIndex/c55c31cc-7276-4343-b3e7-af7bdc255dbc.vsidx
/.vs/ds-bot/FileContentIndex/78c55a11-cf93-4db4-a4dc-2d1285039d2d.vsidx
